.columns {
			margin: 20px 0 20px 0 ;
		}
	nav {
		/*border-bottom: 1px solid grey;*/
		font-size: 25px;
		background: white;
		box-shadow:  0px 15px 10px -10px grey;
	}

	a {
		color:black;

	}

	#carousel-image {
		height: 300px;
	}
	.jumbotron {
		background:white;
	}

	#footer {
		text-align: center;
	}